<!doctype html>
<html>
<head> 
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<script src="/js/jquery-1.11.0.js" ></script>
	<script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	 <link href="css/bootstrap-theme.min.css" rel="stylesheet">
         <link href="css/financeful.css" rel="stylesheet">
</head>

<body>
	<p> Financeful </p> 

	<div class = "container">
	
	<ul class="nav nav-pills nav-stacked">

	<li class="active"><a href= "{{add_purchase}}">Add Purchase</a></li>
	<li class="active"><a href= "{{view}}">View Data</a></li>
	<li class="active"><a href= "{{set}}">Manage Settings</a></li>
	</ul>
	</div>

    <br>
    
    <div class="back" >
    <a href="javascript:history.back()">
    	<img src="images/back.png" height="200" width="300" align="left" style="padding-left: 100px;">
    </a>	
    </div>
</body>


</html>