<!doctype html>
<html>
<head> 
	<script src="/js/jquery-1.11.0.js" ></script>
  <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	 <link href="css/bootstrap-theme.min.css" rel="stylesheet">
         <link href="css/financeful.css" rel="stylesheet">
    <h1 id="login_title" style="color: black; font-size: 70px"> Welcome back to Financeful! </h1>
          
</head>

<div class = "login" style="font-size:40px; padding-top: 50px" align="center" >
<div class = "username">
    <label for="username">Username</label>
      <input name="username" id="username" type="text" /> 
  </div>

  <div class = "password">
    <label for="password">Password</label>
      <input type="password" name="password" id="password" type="text" /> 
  </div>

  <div class = "submit" align="center" id = "link">
    <label for="submit"></label>
      <a id = "dynamicLink" href="{{index}}"> 
      <input type="submit" name="submit" id="submit" onclick = "checklogin()"/>
      </a>
  </div>
</div>  


<script>

function checklogin(){
    console.log("hi");
    var username = document.getElementById("username");
    var password = document.getElementById("password");
    var element = document.getElementById("dynamicLink");
    console.log(username.value);
    console.log(password.value);
    if (username.value == "kevin" && password.value == "financeful") {
      element.href = "/index";
    }
    else {
       element.href = "/";
    }

};
</script> 

</html>  