<!doctype html>
<html>
<head> 
	<script src="/js/jquery-1.11.0.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
	 <link href="css/bootstrap-theme.min.css" rel="stylesheet">
         <link href="css/financeful.css" rel="stylesheet">
         <link href="css/introHCI.css" rel="stylesheet"        />
    <h1 id="login_title" style="color: white"> Welcome back to Financeful! </h1>
          
</head>

<div class = "login">
<div class = "username">
    <label for="username">Username</label>
      <input name="username" id="username" type="text" /> 
  </div>

  <div class = "password">
    <label for="password">Password</label>
      <input type="password" name="password" id="password" type="text" /> 
  </div>

  <div class = "submit" >
  	<label for="submit">Login </label>
  	   <a href="{{index}}"> 
  	  <input type="submit" name="submit" id="submit" />
  	  </a>
  </div>
</div>  


</html>  