<!doctype html>
   <html>
    <script src="/js/jquery-1.11.0.js" ></script>
    <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
   <link href="css/bootstrap-theme.min.css" rel="stylesheet">
     <link href="css/financeful.css" rel="stylesheet">
    
   	<head>
      <h1 align="center"> How do you feel about your purchase? </h1>
      <div class="mood">

            <img src="images/resigned.png" height="50" width="50" align="center"  >
            <img src="images/guilty.png" height="40" width="40" align="center"  >

          <br>
          <input type="radio" name="action" id="track" value="track" /><label for="okay">Okay</label>
          <input type="radio" name="action" id="track" value="track" /><label for="happy">Happy</label>
          <input type="radio" name="action" id="track" value="track" /><label for="resigned">Resigned</label>
          <input type="radio" name="action" id="event" value="event"  /><label for="guilty">Guilty</label>
          <input type="radio" name="action" id="message" value="message" /><label for="sad">Sad</label><br />
            <form action="{{index}}">
            <input type="submit" value="Submit">

      </div>


  	</html>