<!doctype html>
   <html>
    <script src="/js/jquery-1.11.0.js" ></script>
    <script src="/js/financeful.js" ></script>
    <script src="/js/bootstrap.js" ></script>
    
   		<h1>Manage your Categories</h1>
    	<img src = "images/5.png" height = "100" width = "100">

    	<body>
   		<form>
      			<fieldset>
        		<legend>Add a Category</legend>
        			<p>
          				<label>Category</label>
          				<input type = "text"
                 		id = "item"
                 		value = "" />
      				</p>
      				<input type="submit" value="Submit">
      			</fieldset>
      	</form>	
      	</body>

      	<body>
        <legend>Remove a Category</legend>
   	 	<select name="emotion" id="emotionID" size="3">
    		<option>Food</option>
    		<option>Entertainment</option>
    		<option>School</option>
    		<option>Gaming</option>
    		<option>Gas</option>
  		</select>
  		<input type="submit" value="Submit">
  		</div>
  		</body>

  		<div id="add">
			<a href="{{add_purchase}}">
				<p>Nagivate to Add Purchase</p>
			</a>
		</div>	

  		<div id="view">
			<a href="{{view}}">
				<p>Nagivate to View Data</p>
			</a>
		</div>	

   		<div id="home">
			<a href="{{index}}">
				<p>Navigate to Home</p>
			</a>
		</div>	
  	</html>