<!doctype html>
   <html>
         <script src="/js/jquery-1.11.0.js" ></script>
         <script src="/js/financeful.js" ></script>
         <script src="/js/bootstrap.js" ></script>
         <link href="css/bootstrap.min.css" rel="stylesheet">
         <link href="css/bootstrap-theme.min.css" rel="stylesheet">
         <link href="css/financeful.css" rel="stylesheet"> 
		<h1>Data Visualization</h1>
    	<img src = "images/3.png" height = "100" width = "100">

    	<div>
			<h1>Monthly Spending</h1>
			<img src = "images/4.png" height = "400" width = "600">
		</div>

   		<div id="add">
			<a href="{{add_purchase}}">
				<p>Navigate to Add Purchase</p>
			</a>
		</div>	

   		<div id="home">
			<a href="{{index}}">
				<p>Navigate to Home</p>
			</a>
		</div>	





</html>