html,
body #background{
  font-family: 'Roboto', sans-serif;
  background: url("white.jpg") no-repeat 100% 100% fixed;	
  background-size:  cover; 
}


.menu {
    font-family: 'Roboto', sans-serif;
	width: 800px;
	height: 300px;
	margin: auto;
	border-style: solid;
	border-width: 15px;
	font-size: 100px;
	background-color: gold;
	padding-top: 65px;
	text-align: center;
	color: black;
}

.menu h1{
    font-family: 'Rufina', serif;
	font-size: 75px;
	font-weight: bold
}


a {
	color: black;
}
/** {
  background-image: url("greenbg.jpg");	
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

table, th, td {
	text-align: center;
	font-size: 150%;
	border: 3px solid black;
	padding: 10px;
}

.history_table{
    height: 20px;
}

body p {
    font-family: 'Roboto', sans-serif;
	font-size: 150px;
	color: white;
	text-align: center;
	font-weight: bold;
}


.item label{
    float: none; 
    font-size: 50px;
    display: inline-block; 
    margin: auto;
    padding-top: 20px;
    padding-left: 50px;
}


.category label{
    float: none; 
    display: inline-block;
    font-size: 50px;
    margin: auto;
    padding-top: 20px;
        padding-left: 50px;
}

.amount label{
	font-size: 75px;
    float: none; 
    display: inline-block;
    font-size: 50px; 
    margin: auto;
    padding-top: 20px;
    padding-left: 50px;
}


.date label{
    font-size: 75px;
    float: none; 
    font-size: 50px;
    display: inline-block; 
    margin: auto;
    padding-top: 20px;
        padding-left: 50px;
}


.category select, option { 
    width: 300px; 
    height:  50px;  
    text-align: left;  
    margin-left: 500px; 
}

.item input {
    width: 350px; height:  50px;
    text-align:  left;
    margin-left: 500px; 

}

.amount input {
width: 350px; height:  50px;
text-align:  left;
    margin-left: 500px; 
}

.date input {
width: 350px; height:  50px;
text-align:  left;
    margin-left: 500px; 
}

#login_title {
    font-family: 'Rufina', serif;
    width: 100%;
    text-align: center;
}

.login {
    width: 100%;
    text-align: center;
}

.mood {
    width: 100%;
    text-align: center;
}

.dropdown-backdrop {
    position:  static;
}
.wrapper {    
    margin-top: 80px;
    margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  background-color: #eee;
  border: 3px dotted rgba(0,0,0,0.1);  
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

input[type="text"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.colorgraph {
  height: 7px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.button{
  margin:0px auto; 
}

.bgSizeContain {
  font-size: 50px;
  background-image: url("../44");
  height:  487px;
  width:  auto;
}

.btn-danger, .btn-danger:hover, .btn-danger:active, .btn-danger:visited {
    background-color: #d62620
}
header,.header,#header{
  background: red;
  color: white;
  font-size: 15px;
}
h1, h2, h3, h4, h5, h6 {
        text-align: center;
}
.jumbotron{
  background: linear-gradient(to bottom right, #83a4d4, #b6fbff);
}
/*.jumbotron p {
	text-align: center;
	background-color: red;
	border-style: solid
	border
	background-image: url("background.jpg");
}*/
