html,
body {
    background-image: url("greenbg.jpg");	
	width: 100%;
	height: 100%;
	margin: 0;
}


.menu {
	width: 800px;
	height: 300px;
	margin: auto;
	border-style: solid;
	border-width: 15px;
	font-size: 100px;
	background-color: gold;
	padding-top: 65px;
	text-align: center;
	color: black;
}

.menu h1{
	font-size: 75px;
	font-weight: bold
}


a {
	color: black;
}
/** {
  background-image: url("greenbg.jpg");	
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}*/

table, th, td {
	text-align: center;
	font-size: 125px;
	border: 3px solid black;
	background-color: gold;
	padding: 10px;
}

#add {
    background-color: blue;
}
body p {
	font-size: 150px;
	color: white;
	text-align: center;
	font-weight: bold;
}


.item label{
    float: none; 
    font-size: 50px;
    display: inline-block; 
    margin: auto;
    padding-top: 20px;
    padding-left: 50px;
}


.category label{
    float: none; 
    display: inline-block;
    font-size: 50px;
    margin: auto;
    padding-top: 20px;
        padding-left: 50px;
}

.amount label{
	font-size: 75px;
    float: none; 
    display: inline-block;
    font-size: 50px; 
    margin: auto;
    padding-top: 20px;
    padding-left: 50px;
}


.date label{
    font-size: 75px;
    float: none; 
    font-size: 50px;
    display: inline-block; 
    margin: auto;
    padding-top: 20px;
        padding-left: 50px;
}


.category select, option { 
    width: 300px; 
    height:  50px;  
    text-align: left;  
    margin-left: 500px; 
}

.item input {
    width: 350px; height:  50px;
    text-align:  left;
    margin-left: 500px; 

}

.amount input {
width: 350px; height:  50px;
text-align:  left;
    margin-left: 500px; 
}

.date input {
width: 350px; height:  50px;
text-align:  left;
    margin-left: 500px; 
}

#login_title {
    width: 100%;
    text-align: center;
}

.login {
    width: 100%;
    text-align: center;
}

/*.jumbotron p {
	text-align: center;
	background-color: red;
	border-style: solid
	border
	background-image: url("background.jpg");
}*/
