* {
  text-align: center;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*.jumbotron p {
	text-align: center;
	background-color: red;
	border-style: solid
	border
	background-image: url("background.jpg");
}*/
